{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ poll.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>Descrição: {{ poll.description }}<p>
  <p>Autor: {{ poll.author.name }}</p>
  <p>Data de validade: {{ poll.expiration_date }}{% if poll.author == current_user %} | <a href="/delete/{{ poll.id }}">Deletar Votação</a>{% endif %}</p>
  <p>{{ poll.created_at.strftime('%H:%M %Y-%m-%d') }}{% if poll.author == current_user %} | <a href="/create/{{ poll.id }}">Adicionar escolha</a>{% endif %}</p>
  {% if poll.choices %}
    <hr>
    <h2>Escolhas</h2>
  	{% for choice in poll.choices %}
      {% if poll.author == current_user %}<a href="/delete_choice/{{poll.id}}/{{choice.id}}">excluir</a>{% endif %}
  		<h4>{{ choice.name }}</h4>
      <p>Descrição: {{ choice.description }}</p>
      <p>Votos: {{ choice.votes }} {% if can_vote %}| <a href="/vote/{{poll.id}}/{{choice.id}}">Votar</a>{% endif %}</p>
  	{% endfor %}
  {% endif %}
  <hr>
  <h2>Comentários</h2>
  {% if poll.comments %}
    {% for comment in poll.comments %}
      <h4>{{ comment.author }}</h4>
      <p>{{ comment.body }}{% if comment.author == current_user %}- <a href="/delete/{{poll.id}}/{{comment.id}}">excluir</a>{% endif %}</p>
       <!-- <small>on  comment.created_at.strftime('%H:%M %Y-%m-%d') </small></p> -->
    {% endfor %}
  {% endif %}
  <hr>
  <form action="." method="post">
  {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="Comentar">
    </div>
  </form>
{% endblock %}