{% extends "base.html" %}

{% block content %}
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab">Enquetes Abertas</a></li>
      <li role="presentation"><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">Enquetes Fechadas</a></li>
    </ul>
  </div>
  <div class="tab-content" style="padding: 10px;">
    <div role="tabpanel" class="tab-pane active" id="open">
      {% for poll in polls %}
        <div id="openPanel" class="panel panel-default poll-item linkable" data-href="{{ url_for('polls.detail', poll_id=poll.id) }}">
          <div class="panel-body">
            <h3 class="panel-title poll-title">{{ poll.title }}</h3>
             <p class="poll-metadata">
              Created by <strong>{{ poll.author }}</strong> at {{ poll.created_at.strftime('%H:%M %Y-%m-%d') }}.
            </p>
            <span id="votes" class="badge pull-right">{{ poll.number_votes }} voto(s)</span>
            <div class="poll-description">
              {{ poll.description|safe }}
            </div>
          </div>
        </div>
      {% endfor %}
      <a href="/create" style="float:left; margin-top: 5px;" class="btn btn-default">Nova enquete</a> 
    </div>
    <div role="tabpanel" class="tab-pane" id="closed">
      {% for poll in closed_polls %}
        <div id="closedPanel" class="panel panel-default poll-item linkable" data-href="{{ url_for('polls.closed', poll_id=poll.id) }}">
          <div class="panel-body">
            <h3 class="panel-title poll-title">{{ poll.title }}</h3>
             <p class="poll-metadata">
              Created by <strong>{{ poll.author }}</strong> at {{ poll.created_at.strftime('%H:%M %Y-%m-%d') }}.
            </p>
            <span id="votes" class="badge pull-right">{{ poll.number_votes }} voto(s)</span>
            <div class="poll-description">
              {{ poll.description|safe }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div> 
  </div>
{% endblock %}
{% block js_footer %}
  <script src="{{ url_for('static', filename='jquery.linkable.js') }}"></script>

  <script type="text/javascript">
    $(function () {
      $(".linkable").linkable();
    });
  </script>
{% endblock js_footer %}
