.card {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

	-webkit-box-shadow: 5px 5px 5px 0px #B6B6B6;
	-moz-box-shadow: 5px 5px 5px 0px #B6B6B6;
	box-shadow: 5px 5px 5px 0px #B6B6B6;

	padding-bottom: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #337AB7;
	color: white;
}

.card-header {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px solid #000000;

	background-color: #286090;
	height: 40px;
	text-align: left;
	padding: 10px;
}

.card-header i {
	color: white;
}

.card-header a {
	color: #0275d8;
	cursor: auto;
	float: right;
}