.navbar-brand {
	padding: 0 0 0 15px;
}

#votes {
	color: #337AB7;
	background-color: #fcf8e3;
	min-width: 20px;
	font-size: 12px;
}

.container {
	margin-bottom: 15px;
}

#openPanel {
	background-color: #337AB7; 
	color: white;
}

#closedPanel {
	background-color: #B6B6B6; 
	color: white;
}

.selectize-dropdown, .selectize-input, .selectize-input {
	width: 180px !important;
}

.selectize-input > div.item {
	background-color: #337AB7 !important;
	color: white !important;
}

#search {
	line-height: 1.5;
}