
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VoteAqui</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block links %}{% endblock %}
    <style>.content {padding-top: 5px;}</style>
    <style>
       #alor {
          color:#FFF;
       }
      #alor:hover,a:hover {text-decoration: none;font-weight:default;color:e6e6e6;}
    </style> 
  </head>

  <body>
  <div class="wrapper">
      {%- block topbar -%}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" width="70" height="45" src="{{ url_for('static', filename='Vote-icon.png') }}">
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/register">Registrar</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {%- endblock -%}

      <div class="container">
        <div class="content">
          {% block page_header %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
      </div>
      {% block js_footer %}{% endblock %}
    </div>
  </body>
</html>