{% extends "base.html" %}

{% block content %}

<div class="centre" style:"display:inline-block;">
  <div class="row">
   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered" style:""> </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style:"">
      <form action="" method="POST" role="form">
        <legend>Login</legend>
      
        <div class="form-group">
          <label for="">Email:</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="I.E: SeuEmail@host.com">
        </div>

        <div class="form-group">
          <label for="">Password:</label>
          <input type="password" name="password" id="password" class="form-control" required="required" title="" placeholder="senha">
        </div>
        <div class="text-center">
          <input content="Entrar" type="submit" class="btn btn-primary"></input>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}